@charset "UTF-8";

/* Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(179, 178, 178);
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: gray;
}

menu li{
    display: inline-block;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}